<div class="container-fluid p-5">
    <h3 class="p-2">Welcome, {{userDetails.displayName? userDetails.displayName: 'User'}}</h3>
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
        
        <div class="col" *ngFor="let user of usersList">
            <div class="card h-100 shadow-sm">
                <span class="fa fa-star text-success d-flex justify-content-md-end p-3" [ngClass]="{'text-danger':user.status === 'Inactive'}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{user.status}}"></span>
                <div class="text-center" routerLink="user-detail/{{user.id}}" [state]="user">
                    <div class="img-hover-zoom img-hover-zoom--colorize">
                        <img class="shadow" src="{{user.profileImage}}"
                            alt="Another Image zoom-on-hover effect">
                    </div>
                </div>
                <div class="card-body">
                    <div class="clearfix mb-3">
                    </div>
                    <div class="my-2 text-center">
                        <h1>{{user.name}}</h1>
                    </div>
                    <div class="mb-3">
                        <h2 class="text-uppercase text-center role">{{user.designation
                        }}</h2>
                    </div>
                    <div class="box">
                        <div>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fab fa-github"></i></li>
                                <li class="list-inline-item"><i class="fab fa-linkedin-in"></i></li>
                                <li class="list-inline-item"><i class="fab fa-instagram"></i></li>
                                <li class="list-inline-item"><i class="fab fa-twitter"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>




