<div class="container">
    <div class="row">
            <div class="col-12">
                <!-- Page title -->
                <div class="my-5">
                    <h3>My Profile</h3>
                    <hr>
                </div>
                <!-- Form START -->
                <form class="file-upload">
                    <div class="row mb-5 gx-5">
                        <!-- Contact detail -->
                        <div class="col-xxl-8 mb-5 mb-xxl-0">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                                <div class="row g-3">
                                    <h4 class="mb-4 mt-0">Contact detail</h4>
                                    <!-- First Name -->
                                    <div class="col-md-6">
                                        <label class="form-label">First Name *</label>
                                        <span *ngIf="!profileEditMode">Saurabh</span>
                                        <input *ngIf="profileEditMode" type="text" class="form-control" placeholder="" aria-label="First name" value="Scaralet">
                                    </div>
                                    <!-- Last name -->
                                    <div class="col-md-6">
                                        <label class="form-label">Last Name *</label>
                                        <span *ngIf="!profileEditMode">Kumar</span>
                                        <input *ngIf="profileEditMode"type="text" class="form-control" placeholder="" aria-label="Last name" value="Doe">
                                    </div>
                                    <!-- Phone number -->
                                    <div class="col-md-6">
                                        <label class="form-label">Phone number *</label>
                                        <span *ngIf="!profileEditMode">(333) 000 555</span>
                                        <input *ngIf="profileEditMode"type="text" class="form-control" placeholder="" aria-label="Phone number" value="(333) 000 555">
                                    </div>
                                    <!-- Mobile number -->
                                    <div class="col-md-6">
                                        <label class="form-label">Mobile number *</label>
                                        <span *ngIf="!profileEditMode">+91 9852 8855 252</span>
                                        <input *ngIf="profileEditMode"type="text" class="form-control" placeholder="" aria-label="Phone number" value="+91 9852 8855 252">
                                    </div>
                                    <!-- Email -->
                                    <div class="col-md-6">
                                        <label for="inputEmail4" class="form-label">Email *</label>
                                        <span *ngIf="!profileEditMode">saurabh.soni119@gmail.com</span>
                                        <input *ngIf="profileEditMode"type="email" class="form-control" id="inputEmail4" value="example@homerealty.com">
                                    </div>
                                    <!-- Skype -->
                                    <div class="col-md-6">
                                        <label class="form-label">Skype *</label>
                                        <span *ngIf="!profileEditMode">Scaralet D</span>
                                        <input *ngIf="profileEditMode"type="text" class="form-control" placeholder="" aria-label="Phone number" value="Scaralet D">
                                    </div>
                                </div> <!-- Row END -->
                            </div>
                        </div>
                        <!-- Upload profile -->
                        <div class="col-xxl-4">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                                <div class="row g-3">
                                    <h4 class="mb-4 mt-0" *ngIf="profileEditMode">Upload your profile photo</h4>
                                    <div class="text-center">
                                        <!-- Image upload -->
                                        <div class="square position-relative display-2 mb-3">
                                           <img src="http://azimuth.themeseason.com/assets/img/users/user.jpg"/>
                                        </div>
                                        <!-- Button -->
                                        <input *ngIf="profileEditMode"type="file" id="customFile" name="file" hidden="">
                                        <label  *ngIf="profileEditMode"class="btn btn-success-soft btn-block" for="customFile">Upload</label>
                                        <button *ngIf="profileEditMode" type="button" class="btn btn-danger-soft">Remove</button>
                                        <!-- Content -->
                                        <p *ngIf="profileEditMode" class="text-muted mt-3 mb-0"><span class="me-1">Note:</span>Minimum size 300px x 300px</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- Row END -->
    
                
                    <!-- button -->
                    <div class="gap-3 d-md-flex justify-content-md-end text-center">
                        <button *ngIf="profileEditMode" type="button" class="btn btn-outline-danger btn-lg">Delete profile</button>
                        <button *ngIf="profileEditMode" type="button" class="btn btn-outline-primary btn-lg">Update profile</button>
                    </div>
                </form> <!-- Form END -->
            </div>
        </div>
        </div>